<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="directory" name="agent">
        <element id="directory" name="clearcase-agent.zip">
          <element id="directory" name="clearcase-agent">
            <element id="directory" name="lib">
              <element id="artifact" artifact-name="clearcase-agent" />
              <element id="artifact" artifact-name="clearcase-common" />
            </element>
          </element>
        </element>
      </element>
      <element id="directory" name="server">
        <element id="artifact" artifact-name="clearcase" />
        <element id="artifact" artifact-name="clearcase-common" />
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/teamcity-plugin.xml" />
    </root>
  </artifact>
</component>